.header {
    // @TODO improve header style
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 90px;
    border-bottom: 1px solid #F4F3F0;
    background: #83d3c9;

    ul {
        padding: 0;

        li {
            display: inline-block;
            vertical-align: middle;

            a {
                padding: $m-size;
                color: #ffffff;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}