main {
    margin-left: 82px;

    h1 {
        padding: 8px 0;
        border-bottom: 2px solid color('grey', 'darken-1');
    }

    h3 {
        display: inline-block;
    }

    input {
        height: $l-size;
        border: none;
        height: $l-size;
        border-left: 2px solid color('main', 'base');
        border-bottom: 2px solid color('main', 'base');
        background: darken(color('main', 'secondary'), 4);
        vertical-align: middle;
        text-indent: $m-size;
        transition: background .3s cubic-bezier(.4,0,.2,1), text-indent .3s cubic-bezier(.4,0,.2,1), border-left .3s cubic-bezier(.4,0,.2,1);
        
        &:focus {
            outline: none;
            border-left: 1px solid color('main', 'secondary');
            background: darken(color('main', 'secondary'), 2);
            color: darken(color('main', 'base'), 10);
            text-indent: 0;
        }
    }

    ul {
        padding: 0;

        li {
            display: inline-block;
            margin: 0 8px 0 0;

            label {
                display: block;
                margin-bottom: 4px;
                color: darken(color('main', 'base'), 10);
            }
        }
        
        .sort-by-filter {
            input[type="radio"] {
                display: none;
            }

            label {
                cursor: pointer;

                &.active {
                    color: inherit;
                }
            }
        }
    }
}