main {
    margin-left: 82px;

    h1 {
        padding: 8px 0;
        border-bottom: 2px solid #e5e5e5;
    }

    input {
        text-indent: 10px;
        vertical-align: middle;
        height: $l-size;

        // @TODO find a svg (or fontAwesome) align-justify to put into pseudo element
        // &:before {
            // content: '\f16c';
            // font-family: FontAwesome;
        // }

        &:focus {
            outline: none;
        }
    }
}