main {
    h1 {
        color: color('main', 'foreground');
    }

    ul {
        width: 100%;
        float: left;
        padding: 0;
    }

    li {
        margin: 0 8px 0 0;
        float: left;
    
        label {
            display: block;
            margin-bottom: 4px;
            color: inherit;
        }
    }
    
    input {
        height: $l-size;
        border: none;
        height: 4.6rem;
        margin: 0 8px 0 0;
        border-bottom: 2px solid color('blue-grey', 'lighten-2');
        background: darken(color('main', 'background'), 4);
        color: color('main', 'foreground');
        vertical-align: middle;
        text-indent: $m-size;
        font-weight: 600;
        transition: background .3s cubic-bezier(.4,0,.2,1), text-indent .3s cubic-bezier(.4,0,.2,1), border-left .3s cubic-bezier(.4,0,.2,1);
        
        &:focus {
            outline: none;
            background: darken(color('main', 'background'), 2);
            text-indent: 0;
        }
    }
}

.expense-dashboard {
    display: flex;
}

.sort-by {
    input {
        display: none;
    }

    label {
        cursor: pointer;

        &.active {
            color: color('main', 'foreground');
            font-weight: 600;
            text-indent: $s-size;
        }
    }
}