nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 82px;
    background: color('main', 'base');
    box-shadow: inset -2px 0 0 #e5e5e5;
    transition: width .2s ease-in-out;
    
    &:hover {
        width: 240px;
        transition-delay: .4s;

        .navbar__main {
            span {
                visibility: visible;
                transition-delay: .5s;
            }
        }

        .navbar__brand {
            h1 {
                visibility: visible;
                transition-delay: .5s;
            }

            span {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }

    ul {
        padding: 0 18px;
        margin: 0;

        li {
            a {
                display: block;
                padding: 14px 16px;
                color: color('shades', 'white');
                font-weight: bold;
                transition: color .2s linear, background-color .2s linear, border-color .2s linear;
            }
        }
    }

    .navbar__main {
        a {
            &:hover {
                background: darken(color('main', 'base'), 10);
            }
        }

        span {
            position: absolute;
            visibility: hidden;
            width: 160px;
            left: $l-size;
            padding-left: $s-size;
            transition: visibility 0s;
        }

        .is-active {
            background: color('main', 'secondary');
            color: darken(color('main', 'base'), 10);
    
            &:hover {
                color: darken(color('main', 'base'), 10);
                background: color('main', 'secondary');
            }
        }
    }

    .navbar__brand {
        font-size: $l-size;
        padding: 0 8px;
        
        h1 {
            display: inline;
            position: absolute;
            visibility: hidden;
            left: 5.8rem;
            top: 2rem;
            margin: 0;
            font-size: 2.8rem;
            border-left: 1px solid;
            padding-left: $s-size;
            transition: visibility 0s;
        }
        
        a {
            padding: 18px;

            &:hover {
                color: color('shades', 'white');
            }
        }

        span {
            display: inline-block;
        }
    }
}